<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VeriCycle</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="dark-theme">
    {% include '_navbar.html' %}
    <main class="container app-dashboard" style="overflow:visible;">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
